<div class="callout clearfix" ng-repeat="comment in comments.data">
    <div class="image" style="float:left; margin-right: 10px">
      {{ comment.author }} :
    </div>
        <p>{{ comment.content }}</p>
</div>

<div class="callout clearfix">
<form>
    <label>
        <textarea placeholder="Comments" style="resize:none" ng-model="comments.new_comment.content"></textarea>
    </label>
    <button role="button"
            aria-label="Ajouter un commentaire"
            class="button alert send"
            type="submit"
            ng-click="comments.submitComment()"
            style="background-color: #333333"
            >
        Post
    </button>
</form>
</div>
