<form>
    <div>
        <label>
            <input placeholder="Title" ng-model="posts.new_post.title">
            <textarea placeholder="Post on profile" style="resize:none" ng-model="posts.new_post.content"></textarea>
        </label>
    </div>
    <button role="button"
            aria-label="Ajouter un post"
            class="button alert"
            type="submit"
            ng-click="posts.submitPost()"
            >
        Poster sur le profil
    </button>
</form>
<div class="card" ng-repeat="post in posts.data" >
    <div class="content">
        <span class="title">{{ post.title }}</span>
        <p>{{ post.content }}</p>
        <p>From: {{ post.author }}</p>
    </div>
    <div class="action">
        <a href='#'>Comments</a>
    </div>
</div>

<h5>{{posts.error}}</h5>
