<div class="container">
<div ng-if="undefined !== main.current_user">
	<login-form authenticated="main.current_user"></login-form>
</div>

<div class="site-inner">
  <form novalidate id="register">
    <p>Discover a new world of streaming.</br> Sign up, it's free.</p>
        <input class="register-form" type="text" class="form-control" id="login" ng-model="main.new_account.username" placeholder="Nom d'utilisateur">
        <input class="register-form" type="password" class="form-control" id="pwd2" ng-model="main.new_account.password" placeholder="Mot de passe">
        <button id="login-submit" type="button" class="btn btn-primary" id ="btnco2" ng-click="main.registerUser()">Sign up</button>
  </form>
</div>


</div>
