<div ng-if="undefined !== profile.current_user">
    <login-form authenticated="profile.current_user"></login-form>
</div>

<!-- <div class="row"> -->
    <!-- //////////////// Main Profile //////////////////// -->
    <!-- <div class="small-11 small-centered columns"> -->
        <div ng-if="profile.data" class="row">

            <!-- /////// USER INFOS //////// -->
            <div class="small-3 large-3 columns">
                <div ng-if="profile.current_user" class="column">
                    <user-infos profileid="profile.data._id" currentuserid="profile.current_user.profile._id"></user-infos>
                    <!-- <img src="//placehold.it/300x300" class="thumbnail" alt=""> -->

                </div>
            </div>

            <!-- ///// MAIN PROFILE  /////////-->
            <div class="small-7 large-7 columns">

                <!-- ////// Follow this user ////// -->
                <div class="callout clearfix" ng-if="!profile.isMine() && profile.follow_already !== true">
                    <div class="content">
                        <h5>Follow {{profile.user_infos.public_name}} !</h5>
                        <a
                            class="button float-right"
                            ng-click="profile.followUser()"
                        >Follow</a>
                    </div>
                </div>

                <!-- ///////// MAIN STREAM VIDEO ///////// -->
                <div ng-if="profile.user_infos.twitch_username || profile.user_infos.hitbox_username">
                    <main-stream userinfos="profile.user_infos"></main-stream>
                </div>

                <!-- ///////// POSTS ///////// -->
                <div ng-if="profile.data">
                    <display-posts currentuserid="profile.current_user.profile._id" profileid="profile.data._id"></display-posts>
                </div>
            </div>

            <!-- ///////// FOLLOWER STATUS ///////// -->
            <div class="small-2 large-2 columns">
                <div class="column">
                    <h5>Follows</h5>
                    <div class="card">
                        <div ng-repeat="contact_follow in profile.data.follow">
                                <div class="image" style="float:left; margin: 10px">
                                    <img src="//placehold.it/50x50">
                                </div>
                            <div class="content" ng-click="profile.goProfile(contact_follow.contact_id)">
                                {{contact_follow.public_name}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <h5>Followed by</h5>
                    <div class="card">
                        <div ng-repeat="contact_followed in profile.data.followed_by">
                            <div class="image" style="float:left; margin: 10px">
                                <img src="//placehold.it/50x50">
                            </div>
                        </div>
                        <div class="content" ng-click="profile.goProfile(contact_followed.contact_id)">
                            {{contact_followed.public_name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
